<div class="create-question-container">
  <div class="content">
    <div class="title-container">
      <div class="title">Crear pregunta: </div>
      <div class="sub-title">Por favor, ingrese los detalles de la pregunta.</div>
    </div>

    <div class="form">

      <div class="type-container">
        <label for="questionType">Tipo de pregunta:</label>
        <select
        id="questionType"
        name="questionType"
        (change)="validateSelectHandler($event,'type')"
        >
          <option value="" disabled selected>Seleccione un tipo</option>
          <option value="open">Abierta</option>
          <option value="coding">Código</option>
          <option value="multiple">Multiple</option>
        </select>
      </div>

      <div class="difficulty-container">
        <label for="difficulty">Dificultad:</label>
        <select
          id="difficulty"
          name="difficulty"
          (change)="validateSelectHandler($event,'difficulty')"
        >
          <option value="" disabled selected>Seleccione una dificultad</option>
          <option value="easy">Fácil</option>
          <option value="medium">Media</option>
          <option value="hard">Difícil</option>
        </select>
      </div>

      <div class="category-container">
        <label for="category">Categoría:</label>
        <select
          id="category"
          name="category"
          (change)="validateSelectHandler($event,'category')"
        >
          <option value="" disabled selected>Seleccione una categoría</option>
          <option value="JavaScript">JavaScript</option>
          <option value="Node.js">Node.js</option>
          <option value="DataBase">Base de Datos</option>
          <option value="Cloud">Nube</option>
          <option value="Python">Python</option>
        </select>
      </div>

      <div class="text-container">
        <label for="questionText">Texto de la pregunta:</label>
        <input
        type="text"
        id="questionText"
        name="questionText"
        (input)="validateInputHandler($event, 'question')"
        >
      </div>

      <div class="answer-container">
        <label for="answer">Respuesta:</label>
        <input
        type="text"
        id="answer"
        name="answer"
        (input)="validateInputHandler($event, 'answer')"
        >
      </div>

      <div class="options-container" *ngIf="validationFormObject.type.value === 'multiple'">
        <label for="answer">Opciones:</label>
        <input
        type="text"
        id="answer"
        name="answer"
        (input)="updateLastOption($event)"
        >
        <p *ngIf="validationFormObject.options.value.length > 0">
          {{ validationFormObject.options.value.join(', ') }}
        </p>
        <div class="button-container">
          <button (click)="addOption($event)">Agregar opción</button>
        </div>
      </div>

      <button
      [disabled]="!isValidButton()"
      (click)="handleClickCreate()">Crear Pregunta</button>
    </div>
  </div>
</div>
