<div class="assessment-response-container">
  <div class="form-container" *ngIf="!idAssessment">
    <div class="form-content">
      <div class="title-container">
        <p class="title">Por favor ingresa la información correspondiente del examen a responder: </p>
      </div>
      <div class="input-container">
        <label for="questionText">Texto de la pregunta:</label>
        <input
          type="text"
          id="questionText"
          name="questionText"
          (input)="validateInputHandler($event)"
        >
        <div class="error-message">
          <p>Ingresa un Id valido</p>
        </div>
      </div>
      <div class="button-container">
        <button>
          Consultar
        </button>
      </div>
    </div>
  </div>
  <div class="assessment-container" *ngIf="filteredQuestions">
    <div class="content">
      <div class="question-container" *ngFor="let question of filteredQuestions">
        <div class="type-container">{{question.type}}</div>
        <div class="difficulty-container">{{question.difficulty}}</div>
        <div class="title-container">
          {{question.text}}
        </div>
        <div class="response-field-container" *ngIf="question.type !== 'coding'">
          <input
            type="text"
            id="questionText"
            name="questionText"
            (input)="validateResponseHandler($event, question)"
            >
        </div>
        <div class="response-code-container" *ngIf="question.type === 'coding'">
          <div class="p">Proximamente</div>
        </div>
      </div>
    </div>
  </div>
</div>
