<div
  class="dropzone"
  [class.dragging]="isDragging"
  [class.disabled]="disabled"
  (dragover)="onDragOver($event)"
  (dragleave)="onDragLeave($event)"
  (drop)="onDrop($event)"
>
  <input
    #fileInput
    type="file"
    [accept]="accept"
    [disabled]="disabled"
    (change)="onInputChange($event)"
    hidden
  />

  <ng-container *ngIf="!selectedFile; else fileInfo">
    <mat-icon class="dropzone-icon">cloud_upload</mat-icon>
    <p class="dropzone-title">Arrastra tu archivo aquí</p>
    <p class="dropzone-sub">o</p>
    <button
      mat-stroked-button
      color="primary"
      type="button"
      [disabled]="disabled"
      (click)="fileInput.click()"
    >
      Seleccionar archivo
    </button>
    <p class="dropzone-formats">Formatos admitidos: {{ acceptLabel }}</p>
  </ng-container>

  <ng-template #fileInfo>
    <div class="file-chip">
      <mat-icon>folder_zip</mat-icon>
      <div class="file-meta">
        <span class="file-name">{{ selectedFile?.name }}</span>
        <span class="file-size">{{ formatSize(selectedFile!.size) }}</span>
      </div>
      <button
        mat-icon-button
        type="button"
        aria-label="Quitar archivo"
        [disabled]="disabled"
        (click)="clear()"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </ng-template>
</div>
