.app-container {

  margin-left: 240px; // mismo ancho del sidebar
  padding-top: 70px; // mismo alto del header

  min-height: 100vh;

  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 25px;
}
