<div class="assessment-create-container">

  <div class="content-container">
    <!-- Preguntas disponibles -->
    <div
      class="questions-container"
      cdkDropList
      #availableList="cdkDropList"
      [cdkDropListData]="availableQuestions"
      [cdkDropListConnectedTo]="[selectedList]"
      (cdkDropListDropped)="drop($event)"
      class="drop-list">

      <h3>Preguntas disponibles</h3>

      <div
        class="question"
        *ngFor="let question of availableQuestions"
        cdkDrag>

        <div class="question-text">
          Pregunta: {{ question.text }}
        </div>

        <div class="question-category">
          Categoría: {{ question.category }}
        </div>

      </div>

    </div>


    <!-- Preguntas seleccionadas -->
    <div
      class="selected-container"
      cdkDropList
      #selectedList="cdkDropList"
      [cdkDropListData]="assessmentQuestions"
      [cdkDropListConnectedTo]="[availableList]"
      (cdkDropListDropped)="drop($event)"
      class="drop-list"
      >

      <h3>Mi Formulario</h3>

      <div
        class="question selected"
        *ngFor="let question of assessmentQuestions"
        cdkDrag>

        <div class="question-text">
          Pregunta: {{ question.text }}
        </div>

        <div class="question-category">
          Categoría: {{ question.category }}
        </div>

      </div>


    </div>
  </div>

  <div class="button-container">
    <button
      class="save-button"
      (click)="handleClickSave()"
      [disabled]="assessmentQuestions.length === 0">

      Guardar formulario

    </button>
  </div>



</div>
